{% include "links.html" %}

<nav class="row nav">
    <div class="nav-item">
        <div class="">
            <img src="../static/images/Univerisity_logo.png" class="logo-img">
        </div>
    </div>
    <div class="nav-item mt-20">
        <div><a href="/admin_home" class="nav-menu-item">Home</a></div>
        <div><a href="/professor" class="nav-menu-item">Professors</a></div>
        <div><a href="/student" class="nav-menu-item">Students</a></div>
        <div><a href="/course" class="nav-menu-item">Courses</a></div>
        <div><a href="/section" class="nav-menu-item">Sections</a></div>
        <div><a href="/" class="nav-menu-item">Logout</a></div>
    </div>

</nav>