{% include "links.html" %}

<nav class="row nav">
    <div class="nav-item">
        <div>
            <img src="../static/images/Univerisity_logo.png" class="logo-img">
        </div>
    </div>
    <div class="nav-item mt-20">
        <div><a href="/student_home" class="nav-menu-item">Home</a></div>
        <div><a href="/view_course" class="nav-menu-item">View Courses</a></div>
        <div><a href="/section" class="nav-menu-item">View Sections</a></div>
         <div><a href="/view_enrollments" class="nav-menu-item">View Enrollments</a></div>
        <div><a href="/" class="nav-menu-item">Logout</a></div>
    </div>

</nav>