{% include "main_head.html" %}

<div class="w-30  margin-auto">
    <div class="box-shadow p-20 mt-120">
        <form action="student_login_action" method="post">
             <div class="h3 text-center">Student Login</div>
                <div>
                    <label for="email" class="">Email:</label>
                    <input type="email" name="email" id="email" class="form-input" placeholder="Please Enter Email">
                </div>
                 <div class="mt-10">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-input" placeholder="Please Enter Password">
                </div>
                <div>
                    <input type="submit" class=" btn  w-100 mt-20 btn-primary " value="Submit">
                </div>
        </form>
    </div>
</div>