{% include "professor_head.html" %}

<div class="mt-100">
    <div class="h3 text-center">Enrolled Students</div>
</div>
<div class="row mt-50">
    {% for enrollment in enrollments %}
    {% set student = get_enrollment_by_student_id(enrollment[4])  %}
    {% set section = get_enrolledStudent_by_section_id(enrollment[3])  %}
    {% set course = get_enrolledStudentCourse_by_course_id(section[10])  %}
    {% set professor = get_professorName_by_professor_id(section[11])  %}

    <div class="card mt-30 p-20 ml-30 box-shadow">
        <div class="">
            <div class="flex">
                <div class="card-label"> Course Name:</div>
                 <div class="ml-10">{{course[1]}}</div>
            </div>
            <div class="flex">
                <div class="card-label"> Professor Name:</div>
                 <div class="ml-10">{{professor[1]}}</div>
            </div>
            <div class="flex">
                <div class="card-label"> Student Name:</div>
                 <div class="ml-10">{{student[1]}} {{student[2]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Email:</div>
                 <div class="ml-10">{{student[3]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Phone:</div>
                 <div class="ml-10">{{student[4]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">CRN:</div>
                 <div class="ml-10">{{section[1]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Class Start :</div>
                 <div class="ml-10">{{section[2].strftime("%Y-%m-%d")}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Class End Date :</div>
                 <div class="ml-10">{{section[3].strftime("%Y-%m-%d")}}</div>
            </div>
             <div class="flex">
                <div class="card-label">Day :</div>
                 <div class="ml-10">{{section[5]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Start Time:</div>
                 <div class="ml-10">{{section[6]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">End Time:</div>
                 <div class="ml-10">{{section[7]}}</div>
            </div>
            <div class="flex">
                <div class="card-label">Number Of Credits:</div>
                 <div class="ml-10">{{section[9]}}</div>
            </div>
            <div class="flex">
                <div class="card-label"> Status:</div>
                 <div class="ml-10 bold-txt">{{enrollment[2]}}</div>
            </div>
            {% if enrollment[2] == 'Assigned Grade' %}
            <div class="flex">
                <div class="card-label grade">Grade:</div>
                 <div class="ml-10 grade">{{enrollment[1]}}</div>
            </div>
            {% endif %}
            {% if enrollment[2] == 'Enrolled' %}
            <div class="mt-30">
                <div><a href="assignGrade?enrollment_id={{enrollment[0]}}" class="btn txt-none">Assign Grade</a></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
